<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.2/css/bootstrap.min.css"
      integrity="sha512-b2QcS5SsA8tZodcDtGRELiGv5SaKSk1vDHDaQRda0htPYWZ6046lr3kJ5bAAQdpV2mmA/4v0wQF9MyU6/pDIAg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
  </head>
  <body>
    <!-- Button trigger modal -->
    <button
      type="button"
      class="btn btn-primary"
      data-bs-toggle="modal"
      data-bs-target="#fillInfoModal"
      id="addPerson"
    >
      Thêm đối tượng
    </button>

    <!-- Table -->
    <div class="table-responsive foodTable">
      <table class="table table-striped table-sm">
        <thead>
          <tr class="bg-warning text-white">
            <th>Đối tượng</th>
            <th>Tên</th>
            <th>Địa chỉ</th>
            <th>Email</th>
            <th>Mã</th>
            <th></th>
          </tr>
        </thead>
        <tbody id="tbodyPerson"></tbody>
      </table>
    </div>
    <!-- Modal -->
    <div
      class="modal fade"
      id="fillInfoModal"
      tabindex="-1"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">
              Nhập Thông Tin
            </h1>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            <div id="personForm">
              <div class="basicInfo">
                <div class="form-group">
                  <label for="">Đối tượng</label>
                  <select class="form-control" name="type" id="type">
                    <option value="">Chọn đối tượng</option>
                    <option value="Học sinh">Học sinh</option>
                    <option value="Nhân viên">Nhân viên</option>
                    <option value="Khách hàng">Khách hàng</option>
                  </select>
                  <span class="thongbao" id="tbdt"></span>
                </div>
                <div class="form-group">
                  <label for="">Họ tên</label>
                  <input type="text" name="ten" id="ten" class="form-control" />
                  <span class="thongbao" id="tbten"></span>
                </div>
                <div class="form-group">
                  <label for="">Địa chỉ</label>
                  <input
                    type="text"
                    name="address"
                    id="address"
                    class="form-control"
                  />
                  <span class="thongbao" id="tbdc"></span>
                </div>
                <div class="form-group">
                  <label for="">Email</label>
                  <input
                    type="text"
                    name="email"
                    id="email"
                    class="form-control"
                  />
                  <span class="thongbao" id="tbemail"></span>
                </div>
                <div class="form-group">
                  <label for="">Mã</label>
                  <input type="text" name="id" id="id" class="form-control" />
                  <span class="thongbao" id="tbma"></span>
                </div>
              </div>
              <div class="studentInfo" style="display: none">
                <div class="form-group">
                  <label for="">Điểm toán</label>
                  <input
                    type="text"
                    name="toan"
                    id="toan"
                    class="form-control"
                  />
                  <span class="thongbao" id="tbToan"></span>
                </div>
                <div class="form-group">
                  <label for="">Điểm lý</label>
                  <input type="text" name="ly" id="ly" class="form-control" />
                  <span class="thongbao" id="tbLy"></span>
                </div>
                <div class="form-group">
                  <label for="">Điểm hóa</label>
                  <input type="text" name="hoa" id="hoa" class="form-control" />
                  <span class="thongbao" id="tbHoa"></span>
                </div>
              </div>
              <div class="employeeInfo" style="display: none">
                <div class="form-group">
                  <label for="">Số ngày làm</label>
                  <input
                    type="text"
                    name="workDays"
                    id="workDays"
                    class="form-control"
                  />
                  <span class="thongbao" id="tbSNL"></span>
                </div>
                <div class="form-group">
                  <label for="">Lương theo ngày</label>
                  <input
                    type="text"
                    name="salaryDay"
                    id="salaryDay"
                    class="form-control"
                  />
                  <span class="thongbao" id="tbLNL"></span>
                </div>
              </div>
              <div class="customerInfo" style="display: none">
                <div class="form-group">
                  <label for="">Tên công ty</label>
                  <input
                    type="text"
                    name="companyName"
                    id="companyName"
                    class="form-control"
                  />
                  <span class="thongbao" id="tbTCT"></span>
                </div>
                <div class="form-group">
                  <label for="">Trị giá hóa đơn</label>
                  <input
                    type="text"
                    name="price"
                    id="price"
                    class="form-control"
                  />
                  <span class="thongbao" id="tbGTDH"></span>
                </div>
                <div class="form-group">
                  <label for="">Đánh giá</label>
                  <input
                    type="text"
                    name="feedback"
                    id="feedback"
                    class="form-control"
                  />
                  <span class="thongbao" id="tbDG"></span>
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-bs-dismiss="modal"
            >
              Close
            </button>
            <button
              type="button"
              class="btn btn-primary"
              id="add"
              onclick="add()"
              
            >
              Thêm
            </button>
            <button
              class="btn btn-success"
              type="button"
              onclick="updatePerson()"
              data-bs-dismiss="modal"
            >
              Cập Nhật
            </button>
          </div>
        </div>
      </div>
    </div>

    <!-- Modal Details -->
    <div
      class="modal fade"
      id="infoModal"
      tabindex="-1"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">Khách hàng</h1>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body" id="modalDetails"></div>
        </div>
      </div>
    </div>
    <script src="../js/utilities/validation.js"></script>
    <script src="../js/model/person.js"></script>
    <script type="module" src="../js/controller/main.js"></script>

    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.2/js/bootstrap.bundle.min.js"
      integrity="sha512-X/YkDZyjTf4wyc2Vy16YGCPHwAY8rZJY+POgokZjQB2mhIRFJCckEGc6YyX9eNsPfn0PzThEuNs+uaomE5CO6A=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.2/js/bootstrap.min.js"
      integrity="sha512-WW8/jxkELe2CAiE4LvQfwm1rajOS8PHasCCx+knHG0gBHt8EXxS6T6tJRTGuDQVnluuAvMxWF4j8SNFDKceLFg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
  </body>
</html>
